playbooks/ansible_env/.vagrant/machines/node3/virtualbox/index_uuid
playbooks/ansible_env/.vagrant/machines/node1/virtualbox/action_provision
playbooks/ansible_env/.vagrant/machines/node1/virtualbox/action_set_name
playbooks/ansible_env/.vagrant/machines/node1/virtualbox/id
playbooks/ansible_env/.vagrant/machines/node1/virtualbox/index_uuid
playbooks/ansible_env/.vagrant/machines/node1/virtualbox/synced_folders
playbooks/ansible_env/.vagrant/machines/node2/virtualbox/action_provision
playbooks/ansible_env/.vagrant/machines/node2/virtualbox/action_set_name
playbooks/ansible_env/.vagrant/machines/node2/virtualbox/id
playbooks/ansible_env/.vagrant/machines/node2/virtualbox/index_uuid
playbooks/ansible_env/.vagrant/machines/node3/virtualbox/action_provision
playbooks/ansible_env/.vagrant/machines/node3/virtualbox/action_set_name
playbooks/ansible_env/.vagrant/machines/node3/virtualbox/id
